 .navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(2, 6, 23, 0.85);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.logo img {
  height: 40px;          /* navbar ke hisaab se */
  width: auto;
  object-fit: contain;
  cursor: pointer;
  border-radius: 50%;
}


/* LINKS – DESKTOP DEFAULT */
.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #60a5fa;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: rgba(2, 6, 23, 0.95);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none; /* hidden by default */
  }

  .nav-links.open {
    display: flex; /* show when hamburger clicked */
  }
}
